<%- include("partials/header.ejs") %>
    <div class="container full-height">
        <div class="wrapper flex">
            <h1>About us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit excepturi consequatur quis commodi
                optio rem modi explicabo totam quia ea, assumenda similique amet molestias deserunt beatae tempore quam
                ipsam?</p>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>